.specialOffer-body {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/assets/images/BG_kuch.webp);
    background-blend-mode: multiply; 
}
.l-side-line{
    width: 8px;
    background-color: #ffd200;
}
.specialOffer-bold-text{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: white;
    line-height: 40px;
}
.specialOffer-text{
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    font-weight: 500;
    color: #cccccc;
}
.specialOffer-img{
    width: 50%;
}